li {
    list-style-type: none;
}

.main-header {
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
}

.main-header__title {
    font-size: 80px;
    letter-spacing: -1.5px;
}

.main-header__title a {
    text-decoration: none;
}

.main-header__title--blue {
    color: var(--blue);
    font-size: 60px;
}

.main-header__title--orange {
    color: var(--orange);
    font-size: 60px;
}

.main-header__menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 10px;
}

.main-header__menu a {
    display: inline-block;
    padding: 10px 10px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover,
.main-header__menu a.ativo {
    background-color: var(--blue);
    color: #fff;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
    min-width: 280px;
}

.badge-carrinho {
    background-color: var(--dark-blue);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.search-form {
    display: flex;
}

.search-form input {
    box-sizing: border-box;
    height: 56px;
    padding: 0 20px;
    flex: 1;
    min-width: 0;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: none;
    font-size: 22px;
}

.search-form button {
    width: 56px;
    height: 56px;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .main-header__title--blue,
    .main-header__title--orange {
        font-size: 44px;
    }

    .main-header__menu ul {
        justify-content: flex-start;
    }

    .main-header__menu a {
        font-size: 18px;
    }
}
