.footer {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: 18px;
    line-height: 1.4;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px;
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: var(--light-gray-2);
    font-weight: bold;
    padding: 20px;
    color: var(--dark-gray);
}

.footer__copyright a {
    color: var(--blue);
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 5px;
}

.footer__about {
    max-width: 400px;
    text-align: justify;
}

.footer i {
    color: var(--orange);
}

.footer li {
    margin: 10px 0;
}
