<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato" (ngSubmit)="enviarFormulario()" novalidate>
        <input type="text" placeholder="Digite o seu nome" aria-label="Nome" formControlName="nome"
            [class.valid]="formContato.controls.nome.valid" [class.invalid]="exibirErro('nome')">
        @if (exibirErro('nome')) {
            <small class="error-message">
                @if (formContato.controls.nome.hasError('required')) {
                    Esse campo não pode ficar vazio.
                } @else {
                    Esse campo precisa de no mínimo 4 caracteres.
                }
            </small>
        }

        <input type="text" placeholder="Digite o assunto" aria-label="Assunto" formControlName="assunto"
            [class.valid]="formContato.controls.assunto.valid" [class.invalid]="exibirErro('assunto')">
        @if (exibirErro('assunto')) {
            <small class="error-message">
                @if (formContato.controls.assunto.hasError('required')) {
                    Esse campo não pode ficar vazio.
                } @else {
                    Esse campo precisa de no mínimo 10 caracteres.
                }
            </small>
        }

        <input type="tel" placeholder="(00) 0 0000-0000" aria-label="Telefone" mask="(00) 0 0000-0000"
            formControlName="telefone" [class.valid]="formContato.controls.telefone.valid"
            [class.invalid]="exibirErro('telefone')">
        @if (exibirErro('telefone')) {
            <small class="error-message">
                @if (formContato.controls.telefone.hasError('required')) {
                    Esse campo não pode ficar vazio.
                } @else {
                    Digite um telefone válido.
                }
            </small>
        }

        <input type="email" placeholder="Digite o seu email" aria-label="Email" formControlName="email"
            [class.valid]="formContato.controls.email.valid" [class.invalid]="exibirErro('email')">
        @if (exibirErro('email')) {
            <small class="error-message">
                @if (formContato.controls.email.hasError('required')) {
                    Esse campo não pode ficar vazio.
                } @else {
                    Digite um email válido.
                }
            </small>
        }

        <textarea maxlength="300" placeholder="Digite sua mensagem" aria-label="Mensagem" rows="4"
            formControlName="mensagem" [class.valid]="formContato.controls.mensagem.valid"
            [class.invalid]="exibirErro('mensagem')"></textarea>
        @if (exibirErro('mensagem')) {
            <small class="error-message">
                @if (formContato.controls.mensagem.hasError('required')) {
                    Esse campo não pode ficar vazio.
                } @else {
                    Esse campo precisa de no mínimo 20 caracteres.
                }
            </small>
        }

        <button [disabled]="formContato.invalid" type="submit">Enviar</button>
    </form>
    <address>
        <iframe title="Mapa com a localização da loja"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.6192966986096!2d-48.63665989999999!3d-26.978952800000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8c9f8c422e131%3A0xac744f1d035d64e7!2sR.%201301%20-%20Centro%2C%20Balne%C3%A1rio%20Cambori%C3%BA%20-%20SC%2C%2088330-795!5e0!3m2!1spt-BR!2sbr!4v1669935010037!5m2!1spt-BR!2sbr"
            width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            allowfullscreen></iframe>
        <p>R. 1301, 398 - 8º andar - Centro, Balneário Camboriú - SC, 88330-795</p>
    </address>
</section>
