<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite o seu nome" />
        <input type="assunto" placeholder="Digite o assunto" />
        <input type="tel" placeholder="(00) 0 0000-0000" />
        <input type="email" placeholder="Digite o seu email" />
        <textarea maxlength="300" placeholder="Digite sua mensagem"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.6192966986096!2d-48.63665989999999!3d-26.978952800000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8c9f8c422e131%3A0xac744f1d035d64e7!2sR.%201301%20-%20Centro%2C%20Balne%C3%A1rio%20Cambori%C3%BA%20-%20SC%2C%2088330-795!5e0!3m2!1spt-BR!2sbr!4v1669935010037!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <br>
        <p>R. 1301, 398 - 8º andar- Centro, Balneário Camboriu - SC, 88330-795</p>
    </address>
</section>