.cart-title {
    font-size: 44px;
    color: var(--dark-gray);
    font-weight: 700;
    padding: 8px 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
}

.cart-item__name {
    flex: 1;
    min-width: 120px;
}

.cart-item__subtotal {
    font-weight: bold;
    min-width: 110px;
    text-align: right;
}

.remove-button {
    align-self: stretch;
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: .2s all;
}

.remove-button:hover {
    filter: brightness(0.9);
}

.cart-total {
    font-size: 24px;
    color: var(--dark-gray);
    font-weight: 700;
    padding: 8px 0;
}

input {
    width: 50px;
    text-align: center;
}

.buy-button {
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s all;
}

.buy-button:hover {
    filter: brightness(0.9);
}

.vazio {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 40px 0;
    font-size: 20px;
}

.vazio a {
    color: var(--blue);
}
